.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
*.class
bin/main/application.yaml
**/.terraform
.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IDE ###
.idea
/out
*.iws
*.iml
*.ipr
.kiro
.vscode

.DS_Store

applicationinsights-agent-*.jar
*.log
bin/migration/*/*.txt
bin/migration/**/__pycache__/
